.vscode
*.DS_Store
.vscode/*

ENV/
ENV/*
.ENV
ENV
env/*
.env
env/
env

*.pyc
.DS_Store
/local_files
/local_files/*

*.cfg
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode
.vscode/*
